.recipes__recipe {
    display: flex;
    margin-bottom: 40px;
}

.recipes__recipe-photo {
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

.recipes__recipe-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipes__recipe-details h3 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #996666;
}

.recipes__recipe-details p {
    font-size: 1.2rem;
}